[submodule "lib/express"]
	path = lib/express
	url = http://github.com/visionmedia/express.git

[submodule "lib/html5-boilerplate"]
	path = lib/html5-boilerplate
	url = http://github.com/robrighter/html5-boilerplate.git
[submodule "lib/socket.io"]
	path = lib/socket.io
	url = https://github.com/LearnBoost/socket.io.git
